#top-nav {
    z-index: 301;
}
#home-svg-desktop, #home-svg-mobile {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1 !important;
    width: auto;
}