body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    position: relative;
    background: black;
}

.layer, .page, .fullpage-flex {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
}

.page {
    transform: scale(1.05);
}

.fullpage-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page:not(#home-page) {
    display: none;
}

#homeLayer1 {
    background: url('../imgs/homeLayer1.svg') no-repeat;
}

#trees {
    background: url('../imgs/trees.svg') no-repeat;
}

body, html, #homeLayer1, #trees {
    background-size: cover;
    background-position: center;
}

/* HAM */
#close-icon {
    position: absolute;
    height: 40px;
    margin: 30px 0 0 40px;
}

#ham-icon {
    height: 60px;
}

#ham-icon:hover, #close-icon:hover, #register-link:hover {
    cursor: pointer;
}

#ham-icon, #register-link {
    z-index: 3;
}

#close-icon {
    display: none;
    z-index: 5;
}

/* NAV */
#top-nav {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px 0 0 30px;
    color: #fff;
}

.top-nav-link {
    font-family: "ikaros", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5vw;
    font-size: 180%;
    transition: transform 0.1s linear;
}

.top-nav-link:hover {
    transform: scale(1.1);
    cursor: pointer;
    color: #c4217d;
}


#register-link {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 30px 0 0;
}

#register-link img {
    width: 15vw;
}

/* MENU */
#menu {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: -100vh;
    left: 0;
    background: #352783;
    opacity: 0;
    transition: top 0.1s linear, opacity 0.1s linear;
    z-index: 4;
    display: flex;
    justify-content: center;
}

#menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: "bebas neue", sans-serif;
}

#menu-list li {
    margin-top: 30px;
    font-size: 200%;
    color: #fff;
    text-align: center;
}

#menu-list li span {
    transform: border 0.1s linear;
}

#menu-list li span:hover {
    cursor: pointer;
}

/* EVENTS PAGE */
#events-page {
    background: black;
}

#events-container {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../imgs/boxBg.svg') no-repeat;
    background-size: cover;
    background-position: center;
    /*border: solid #fff 30px;*/
    box-sizing: border-box;
}

#events-container-inner {
	height: 75vh;
	width: 60vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#events-container-inner h2{
	color: #FF0080;
	font-family: "bebas neuee";
	text-align: center;
	font-size: 50px;
	font-weight: 300;
	letter-spacing: 11px;
	margin: 0px;
}

#view-events-btncontainer {
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

#events-image-wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
}

#events-image {
	flex-grow: 1;
}

#view-events-btn {
	cursor: pointer;
	color: white;
	border: 2px solid white;
	width: auto;
	padding: 10px;
	font-family: montserrat;
	transition: transform 0.3s ease-in-out;
}

#view-events-btn:hover {
	transform: scale(1.1);
}

#prev-event {
	transform: rotateZ(180deg);
}

.event-change-btn {
	cursor: pointer;
	height: 20px;
	weight: 20px;
}

#events-container-head {
    width: 100%;
    height: 30%;
}

#events-category-scroll {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#events-list {
    height: 30%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    padding: 10px;
}

#events-list div {
    font-family: "comic sans", sans-serif;
    font-size: 200%;
    border: solid 3px;
    border-radius: 20px;
    padding: 3px 6px;
    margin: 10px 20px;
    text-transform: uppercase;
}

#events-list div:nth-child(even) {
    border-color: #65f0dc;
    color: #65f0dc;
}

#events-list div:nth-child(odd) {
    border-color: #cbb0e2;
    color: #cbb0e2;
}

#event-svg-container {
    height: 100%;
    width: 60%;
}

.event-category {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#events-foot {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#view-events-button {
    font-family: 'biko-bold';
    font-size: 200%;
    color: #14406C;
    background: #65F0DC;
    padding: 10px 15px 5px 15px;
    border-radius: 10px;
}

#view-events-button:hover {
    cursor: pointer;
}

.event-category img {
    display: block;
    height: 100%;
}

#left-arrow, #right-arrow {
    height: 50px;
}

#left-arrow:hover, #right-arrow:hover {
    cursor: pointer;
}

#left-arrow {
    transform: rotate(180deg);
}

.flickity-viewport {
    height: 100% !important;
}

#close-events {
    font-family: 'bebas';
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 200%;
    color: #fff;
}

#close-events:hover {
    cursor: pointer;
}

/* DEVELOPERS PAGE */
#dev-page {
    background: url('../imgs/bg2.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.dev-flex {
    justify-content: space-around;
}

.page-heading {
    width: 35vw;
}

#devs-container {
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.dev-member {
    height: 350px;
    width: 300px;
    background: #fff;
}
