@font-face {
    font-family: "bebas";
    src: url("../fonts/Bebas.TTF");
}

@font-face {
    font-family: "comic sans";
    src: url("../fonts/comic.ttf");
}

@font-face {
    font-family: "biko-bold";
    src: url("../fonts/Biko_Bold.otf");
}

@font-face {
    font-family: "ikaros";
    src: url("../fonts/Ikaros-Regular.otf");
}

@font-face {
    font-family: "bebas neuee";
    src: url("../fonts/BebasNeue-Regular.ttf");
}