@font-face {
    font-family: "bebas";
    src: url("../fonts/Bebas.TTF");
}

@font-face {
    font-family: "comic sans";
    src: url("../fonts/comic.ttf");
}

@font-face {
    font-family: "biko-bold";
    src: url("../fonts/Biko_Bold.otf");
}

@font-face {
    font-family: "biko";
    src: url("../fonts/Biko_Regular.otf");
}

@font-face {
    font-family: "louisgeorge";
    src: url("../fonts/Louis George Cafe Bold.ttf");
}
