body{
    background-color:#1d1d1d;
    overflow:hidden;
  }
  body, html {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  svg{
    position: absolute;
    width: 60vw;
    height: 60vh;
  }
  
  text{
    fill:red;
  }

  #bus{
    animation: stagger .15s ease;
    animation-iteration-count: infinite;
  }
  
  #rainbow{
    animation: stagger .15s ease;
    animation-iteration-count: infinite;
  }
  @keyframes stagger{
    0%{
      transform: translateX(8px);
    }

    100%{
      transform: translateX(0px);
    }
  }

  .speedLine path {
    transform: translateX(3000px);
    animation: animateLines 1s ease-in-out infinite;
  }

  #speedLine0 path {
    animation-delay: 0s;
  }

  #speedLine1 path {
    animation-delay: 0.4s;
  }

  #speedLine2 path {
    animation-delay: 0.3s;
  }

  #speedLine3 path {
    animation-delay: 0.5s;
  }

  #speedLine4 path {
    animation-delay: 0.2s;
  }

  @keyframes animateLines {
    0% {
      transform: translateX(3000px);
    }
    100% {
      transform: translateX(-3000px);
    }
  }