body{
    background-color:#000;
    overflow:hidden;
  }
  body, html {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  svg{
    width: 60vw;
    max-width: 1000px;
    height: 60vh;
  }
  
  text{
    fill:red;
  }

  #bus{
    animation: stagger .15s ease;
    animation-iteration-count: infinite;
  }
  
  #rainbow{
    animation: stagger .15s ease;
    animation-iteration-count: infinite;
  }
  @keyframes stagger{
    0%{
      transform: translateX(10px);
    }

    100%{
      transform: translateX(-2px);
    }
  }

  .speedLine path {
    transform: translateX(2000px);
  }

  #speedLine0 path {
    transform: translate(2000px, 50px);
  }

  #speedLine0 path {
    animation-delay: 0s;
  }

  #speedLine1 path {
    animation-delay: 0.4s;
  }

  #speedLine2 path {
    animation-delay: 0.3s;
  }

  #speedLine3 path {
    animation-delay: 0.5s;
  }

  #speedLine4 path {
    animation-delay: 0.2s;
  }

  .speedLine path {
    opacity: 0;
    animation: animateLines 1.2s ease-in-out infinite;
  }

  .cls-3 path {
    opacity: 0;
  }

  #cloud1 path {
    animation: animateClouds 18s ease-in-out infinite;
  }

  #cloud2 path {
    animation: animateClouds 16.5s ease-in-out infinite;
    animation-delay: 2s;
  }

  @keyframes animateLines {
    0% {
      opacity: 1;
      transform: translateX(5000px);
    }
    100% {
      opacity: 1;
      transform: translateX(-5000px);
    }
  }

  @keyframes animateClouds {
    0% {
      opacity: 1;
      transform: translateX(4000px);
    }
    100% {
      opacity: 1;
      transform: translateX(-1000px);
    }
  }

  .busTransition {
    animation: animateOutBus 1s ease-in-out forwards;
  }

  @keyframes animateOutBus {
    20% {
      transform: translateX(-100px);
    }
    100% {
      transform: translateX(3000px);
    }
  }

  #oasisText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    animation: staggerText .15s ease infinite;
    align-items: center;
    font-family: monospace;
    transition: all 0.5s ease-in;
    opacity: 0;
  }

  @keyframes staggerText {
    0% {
      margin-left: -1.5px;
    }
    100% {
      margin-left: 1.5px;
    }
  }

  #title {
    font-size: 60px;
    color: #fff;
    text-align: center;
  }

  #subtitle {
    font-size: 25px;
    letter-spacing: 2px;
    color: rgba(255,255,255,0.8);
    text-align: center;
  }

  @media all and (max-width: 600px) {
    #title {
      font-size: 40px;
    }
    #subtitle {
      font-size: 20px;
    }
  }