body{
    background-color:#1d1d1d;
    overflow:hidden;
  }
  body, html {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
  }
  
  svg{
    position: absolute;
    top: 30%;
    left: 20%;
    width: 60vw;
    height: 60vh;
  }
  
  text{
    fill:red;
  }

  #bus{
    animation: stagger .15s ease;
    animation-iteration-count: infinite;
  }
  
  #rainbow{
    animation: stagger .15s ease;
    animation-iteration-count: infinite;
  }
  @keyframes stagger{
    0%{
      transform: translateX(5px);
    }

    100%{
      transform: translateX(0px);
    }
  }