@media all and (max-width: 700px) {
    #homeLayer1 {
        background: url('../imgs/mobileHomeLayer1.svg') no-repeat;
    }

    #homeLayer1, #trees {
        background-size: cover;
        background-position: center;
    }

    /* HAM */
    #ham-icon, #close-icon {
        height: 50px;
        margin: 15px 0 0 15px;
    }

    /* NAV */

    #top-nav {
        margin: 0;
    }

    .top-nav-link {
        display: none !important;
    }

    #register-icon {
        margin: 15px 15px 0 0;
    }

    #register-icon img {
        width: 30vw;
    }

    /* MENU */
    #menu-list {
        margin-top: 20px;
        font-size: 80%;
    }

    #menu-list li {
        margin-top: 25px;
    }
}