@media all and (max-width: 800px) and (orientation: portrait) {
    #home-svg-desktop {
        display: none;
    }
    #home-svg-mobile {
        width: 100vw;
        height: auto;
        display: block;
    }
    #homeLayer1 {
        /* background: url('../imgs/mobileHomeLayer1.svg') no-repeat; */
    }

    #homeLayer1, #trees {
        background-size: cover;
        background-position: center;
    }

    /* HAM */
    #ham-icon {
        height: 40px;
        margin: 3vh 0 0 3vh;
    }

    #close-icon {
        height: 40px;
        margin: 20px 0 0 20px;
    }

    /* NAV */

    #top-nav {
        margin: 0;
    }

    .top-nav-link {
        display: none !important;
    }

    #register-link {
        margin: 3vh 3vh 0 0;
    }

    #register-link span {
        display: block;
        font-family: "ikaros", sans-serif;
        color: #fff;
        font-size: 1.8em; /*sarthak ne kaha*/
    }

    /* #register-link img, #events-link img {
        width: 28vw;
    } */

    #register-link img {
        display: none;
    }

    #mobile-social-media {
        padding: 5vh 7vw 5vh 7vw;
        display: flex;
        justify-content: space-around;
    }

    #mobile-social-media img {
        height: 30px;
    }

    #social-media {
        margin: 4vh 4vh 0 0;
    }

    #social-media img {
        height: 20px;
        margin-left: 20px;
    }

    #base-line {
        display: none;
    }

    /* MENU */
    #menu-list {
        font-size: 80%;
    }

    /* EVENTS */
    #events-page {
        background: url('../imgs/mobileBackground2.svg') no-repeat;
        background-size: cover;
    }
    #events-container {
        height: 100vh;
        width: 100vw;
    }

    #events-category-scroll {
        height: 30%;
    }

    #event-svg-container {
        width: 80%;
    }

    #left-arrow, #right-arrow {
        height: 35px;
    }

    #view-events-button {
        font-size: 180%;
    }

    #categories-heading{
		font-size: 19px;
    }

    #events-image {
        /*height: 300px;*/
    }

    object {
        /*height: auto;*/
    }

    #menu, #home-page, #about-page, #dev-page, #sponsors-page, #contacts-page, #archive-page, #register-page {
        background: url('../imgs/mobileBackground1.svg') no-repeat;
        background-size: cover;
    }
    #mobile-social-media {
        justify-content: center;
    }
    #mobile-social-media img {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    #events-link {
        display: flex;
        position: absolute;
        bottom: 15vh;
        left: 50%;
        transform: translateX(-50%);
    }

    /* REGISTER */
    form {
        overflow-x: hidden;
    }
    .field{
        margin-bottom: 30px;
    }
    .field label{
        font-size: 1.5em;
    }
    .field p{
        font-size: 1em;
    }
    .field input[type=text]{
        font-size: 1.5em;
    }
    
    .field .radio-input label{
        font-size: .8em;
    }
    select{
        font-size: 1.5em;
    }
    
    .select2-search__field{
          /*width: calc(75vw-20px) !important;*/
    }
    .wrapper {
        padding-top: 10vh;
    }
    .field {
        width: 70vw;
    }

    /*CONTACT AND DEVELOPERS*/
    .contacts-menu-list {
        display: block;
    }
    .contact-img, .dev-img {
        width: 25vw;
    }

    .contacts-flex {
        height: 92vh;
    }

    #contact-header, #dev-header {
        font-size: 200%;
    }

    #devs-container {
        margin-top: -2vh;
    }

    .contact-name {
        font-size: 110%;
    }

    .contact-info, .contact-email, .contact-num {
        font-size: 90%;
    }

    .contact-img-con {
        width: 25vw;
    }

    /*SPONSORS*/
    .spons-menu-list {
        display: block;
    }
    .spons-header-con {
        margin-top: 2vh;
        margin-bottom: 6vh;
    }
    /*#spons-header {
        margin-top: 230vh;
    }*/
    #spons-container-main {
        margin-bottom: 2vh;
        padding-top: 4vh;
    }
    .sponsor-main {
        justify-content: center;
        text-align: center;
    }

    .title-spons-img {
        width: 48vw;
    }

    .sponsor-others {
        height: 30vh;
        justify-content: center;
        align-items: center;
    }

    /*#spons-container {
        position: absolute;
        top: 44vh;
    }*/

    .other-spons {
        width: 44vw;
    }

}

@media all and (max-width: 600px) {
	#events-container-inner {
		width: 85vw;
	}
}

@media all and (max-width: 480px) {
	#categories-main-heading{
		font-size: 25px;	
	}
	.common-heading {
		font-size: 37px;	
	}
}

@media all and (max-width: 300px) {
	#categories-main-heading{
		font-size: 20px;	
	}
}
/*change this to aspect ratio*/
@media all and (max-width: 430px) {
    #home-svg-mobile {
        height: 100vh;
        width: auto;
    }
}
