body, html {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    background: url('./imgs/home-bg.svg') no-repeat;
}

.layer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#hills {
    background: url('./imgs/hills.svg') no-repeat;
}

#clockTower {
    background: url('./imgs/clockTower.svg') no-repeat;
}

#rotundaElems {
    background: url('./imgs/rotundaElems.svg') no-repeat;
}

#trees {
    background: url('./imgs/trees.svg') no-repeat;
}

#clockTowerElems {
    background: url('./imgs/clockTowerElems.svg') no-repeat;
}

body, html, #hills, #clockTower, #rotundaElems, #trees, #clockTowerElems {
    background-size: cover;
    background-position: center;
}